.empty {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: 500;
  .empty-icon {
    width: 40px;
    height: 40px;
    background: url('@images/empty-data.png') no-repeat;
    background-size: 40px 40px;
  }
}