.invite-page {
  margin: 20px;
  background: #FFF;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #EEE;
  border-radius: 12px;
  .share-pic {
    width: 200px;
    height: 200px;
    background: url('@images/share-pic.png') no-repeat;
    background-size: 200px 200px;
    margin: 0 auto;
  }
  input {
    height: 50px;
    border: 1px solid #EEE;
    padding: 0 10px;
    font-size: 14px;
  }
  .copy-btn {
    background: #0463B7;
    border: 1px solid #0463B7;
  }
}